{% extends 'base.html' %} 

{% block title %}
About | Calories Counter
{% endblock %}

{% block content %}
<h1>About the Calories Counter</h1>
<hr />
<p>This app will assist you to achive and sustain a healthy lifestyle.</p>
<p>We will help you count every Micronutrients and calories to help you track you consumptions</p>
<p>Not feeling like signing up?? It only takes a second to sign up but if your feeling extra lazy. 
    I got you cover. Use the informations below to login and check out the website</p>
<p>username: admin <br>
    pass: pass123
</p>
{% endblock %}