{% extends 'base.html' %} 

{% block title %}
About | Calories Counter
{% endblock %}

{% block content %}
<h1>About the Calories Counter</h1>
<hr />
<p>This app will assist you to achive and sustain a healthy lifestyle.</p>
<p>We will help you count every Micronutrients and calories to help you track you consumptions</p>
<p>Having trouble signing?? <br> 
    I got you cover. Use the informations below to login and check out the website</p>
<p>username: helloworld <br>
    pass: Halamadrid
</p>
{% endblock %}