{% extends 'base.html' %} 

{% block title %}
Home | Calories Counter
{% endblock %}

{% block content %}

<h1>Home</h1>
<hr />
<h3>Muscles Are Made In The Kitchen: Macros And Why They're Important</h3>
<p>You can exercise as much as possible, but if your nutrition is not on point, you won’t see much progress. You have probably heard this before, and are beginning to realize that this statement has a ring of truth to it. If you have been exercising six to seven days a week and have yet to make any significant strides toward muscle growth, then it is time to have a look at your nutrition. In this article, we dive headfirst into how and why your macronutrients matter when it comes to gaining muscle</p>
<p>For muscles to be built, you must be progressively overloading your muscle tissue over time. When you place your muscles under resistance, small tears are created. Your body then repairs these micro-tears, as well as lays down more muscle tissue to adapt to increasing loads. Keep in mind that your body may find it hard to adapt when you are not feeding it the proper and adequate fuel. This is why nutrition matters the most. You can attempt to weight train and add resistance all you want, but if you are not fueling your body properly, you will not get results. Adequate muscle gain comes down to a balance between good nutrition and a solid training program.</p>


{% endblock %}